@import "./lib-custom-styling/tags-input";
@import "./lib-custom-styling/vdp-datepicker";
@import "./lib-custom-styling/vuetable";
@import "./lib-custom-styling/v-select";
@import "../main";
@import "../styleguide/tooltip";

// outer wrap of module- page
.object-wrap {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

.btn-controls {
  .btn {
    margin-left: 28px;
  }
}

// main content itself, without nav but with main header
.object {
  flex-grow: 1;
}

// inner content section
.object-content {
  padding: 38px 28px 40px 44px;
}

// SECTION HEADING
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  margin: 0 25px 12px 0;

  .content-title {
    @extend .typo-heading-md;

    margin: 0;

    + .hint {
      top: -2px;
    }
  }

  // WRAP FOR SEARCH INPUT
  .content-header__actions-wrap {
    display: flex;

    .search-form {
      display: flex;
      align-items: center;
      width: 254px;

      .search-input {
        @extend .typo-input-text;

        flex: 1;
        padding: 0;
        margin-left: 8px;
        border: none;
        outline: none;

        &::placeholder {
          color: $icon-color;
        }
      }

      .icon-icon_search {
        height: 24px;
      }
    }

    // ACTIONS
    .table-action__actions {
      display: flex;
      align-items: center;

      .active {
        color: #000;
      }

      .upload-csv {
        position: relative;
        height: 24px;
        margin-left: 30px;

        .icon-icon_upload {
          margin-left: 0;
          opacity: 1;
          pointer-events: none;
        }

        &:hover .icon-icon_upload {
          color: #000;
        }

        .upload-csv__input {
          position: absolute;
          top: -2px;
          left: 0;
          width: 24px;
          height: 24px;
          font-size: 0;
          cursor: pointer;
          opacity: 0;
        }
      }

      i {
        margin-left: 30px;
        cursor: pointer;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

// GRID TEMPLATE FOR MODULE INPUTS
.object-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 8px;


}

.grid-w100 {
  .object-input-grid {
    grid-template-columns: 1fr;
  }
}

.grid-w50 {
  .object-input-grid {
    grid-template-columns: 50%;
  }
}

// used both in tags input and select dropdowns
.select-options {
  @extend .box-shadow;
  @extend .scrollbar;

  position: absolute;
  width: 100%;
  max-height: 190px;
  padding: 8px 0;
  margin-top: 8px;
  background: #fff;
  overflow-y: auto;
  z-index: 10;

  .select-option {
    @extend .typo-body-md;

    div {
      padding: 12px 16px 11px;
      cursor: pointer;
    }

    &.select-option__selected, &:hover {
      color: #000;
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

.input-extension-wrap {
  position: relative;

  .input-extension {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -35%);

    .input-extension__copy {
      @extend .typo-input-text;
      @extend .border-underline;
      cursor: pointer;

      &:before {
        bottom: 6px;
        height: 1px;
        background: #000;
      }
    }

    .input-extension__generate {
      margin: 0 16px;
      color: #000;
      cursor: pointer;
    }
  }
}

.input-extension__copy {
  .icon-icon_approve {
    margin-right: 8px;
    color: $true-color;
  }

  .tooltip-top {
    justify-content: center;
    bottom: 28px;
    transform: translate(-60%, 0);
  }
}

.module-new .object-input-grid .select-preview {
  margin-bottom: 20px;
}

.module-new {
  .page-header {
    justify-content: start;
  }


  .new_w50 {
    width: 50%;

    .form-input {
      margin: 10px 0;
    }
  }
}

.calendars-new {
  .vuetable tr {
    border-bottom: transparent;

    &.day-start {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

   &:last-child {
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   }
  }
}