.upload-popup {
  .upload-popup__info {
    .upload-popup__info-headers {
      @extend .typo-body-md;
    }

    form {
      @extend .object-input-grid;
      margin: 18px 0 18px;
    }
  }

  .CSV-column-match {
    .column-headers {
      @extend .object-input-grid;
      @extend .typo-body-md;

      color: $label-color;

      div {
        align-self: center;
      }
    }

    .column-rows {
      padding: 24px 0 18px;

      li {
        @extend .object-input-grid;
        /*grid-row-gap: 28px; // (28px - 9px label + 20px bottom error)*/
        margin-bottom: 18px;
        /*FIXME: MARGIN TOP INSTEAD OF GRID GAPS*/
        div {
          @extend .typo-body-md;
          align-self: center;
        }
      }
    }
  }
  
  .upload-tooltip {
    @extend .typo-body-sm;
    color: $icon-color;
  }
}