@forward '@webitel/ui-sdk/src/css/main';
@forward './objects/lib-custom-styling/dropzone';
@forward './objects/history-popup';
// @forward './objects/table-page';
@forward './objects/objects';

$srollbar-thumb-color: var(--primary-color);
