@forward 'reusable';
@use 'reusable' as *;

//disables scrollbar on 100vh auth on small laptops
body {
  width: 100%;
  height: 100%;
  color: var(--text-main-color);
}

#app {
  width: 100%;
  height: 100%;
}

.icon-action {
  cursor: pointer;

  &:before {
    transition: var(--transition);
  }

  &:hover:before {
    color: #000;
  }
}

$scrollbar-bg-color: #EAEAEA;
$srollbar-border-radius: 4px;

.scrollbar {
  // scrollbar itself
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    cursor: pointer;
    background-color: $scrollbar-bg-color;
  }

  // scrollable element
  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 6px;
    border-radius: $srollbar-border-radius;
    background-color: $srollbar-thumb-color;
  }
}
