@use '../../../../../../../app/css/main' as *;

.upload-popup {
  .object-input-grid {
    grid-auto-rows: minmax(40px, auto); // override default
  }

  :deep(.wt-popup__popup) {
    min-height: 40vh; // to place loader in the center, till file is parsed
  }

  .upload-popup__reading-file-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .upload-popup-form__form {
    @extend .object-input-grid;
    margin: var(--spacing-sm) 0;
  }

  .upload-popup__parsing-preview-loader {
    margin: auto;
  }

  .upload-popup-form__file-preview .wt-table {
    max-width: 60vw;
    overflow: auto;
  }

  .upload-popup-mapping {
    .upload-popup-mapping-item {
      @extend .object-input-grid;
      margin-bottom: var(--spacing-sm);

      &__field {
        align-self: center;
      }

      &__select :deep(.wt-label),
      &__select :deep(.wt-input-info) {
        display: none;
      }
    }
  }

  .upload-popup-form__error-stack-trace {
    margin-top: var(--spacing-sm);
    border-radius: var(--border-radius);
    background: var(--secondary-color);
    padding: var(--spacing-sm);
    color: var(--error-color);
  }

}