.selection-popup {
  .popup-options {
    margin-top: 20px;
    padding-right: 10px;

    .popup-options__item-wrap {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 7px 10px;
      cursor: pointer;
      transition: var(--transition);
      border: 1px solid var(--form-border-color);
      border-radius: var(--border-radius);

      .wt-icon {
        margin-right: var(--spacing-xs);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover, &.active {
        border-color: var(--accent-color);
      }

      .wt-tooltip {
        margin-left: auto;
      }
    }

    .popup-options__item-header {
      @extend %typo-subtitle-2;
    }
  }
}

.selection-popup__tooltip-popper {
  max-width: 480px;
}
