@use '@webitel/ui-sdk/src/css/main' as *;

.table-wrapper {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;

  .wt-pagination {
    margin-top: 20px;
    margin-left: auto;
  }

  /*
   wrapper class for table content overflow: visible preserving table scroll itself
  .table-wrapper>.table-wrapper__visible-scroll-wrapper>.wt-table
   */
  .table-wrapper__visible-scroll-wrapper {
    overflow: visible;
    height: 100%;

    .wt-table {
      overflow: visible;
    }
  }

  .table-wrapper__scroll-wrapper {
    @extend .wt-scrollbar;

    overflow: auto;
    height: 100%;
    min-height: 0;

    .wt-table {
      overflow: visible;
    }
  }
}
