

.tags-input-wrap {
  position: relative;
  margin-bottom: 21px;

  .tags-input__label {
    @extend .typo-input-label;

    position: relative;
    margin-bottom: 9px;

    .hint {
      position: absolute;
      bottom: -2px;
    }
  }

  .vue-tags-input {
    width: 100%;
    max-width: 100%;
    min-height: 40px;

    .ti-input {
      @extend .default-input;

      padding: 2px 16px !important;
      border: 1px solid $input;

      .ti-new-tag-input-wrapper {
        padding-left: 0;
      }

      .ti-new-tag-input {
        @extend .typo-input-label;
        min-height: 24px; // prevents too small height with no tags

        &::placeholder {
          color: $input;
        }
      }

      .ti-tag {
        @extend .typo-input-label;

        color: #000;
        background: $tag-background;
        padding: 5px 6px !important;
        margin: 4px 8px 4px 0;

        &.ti-deletion-mark {
          background-color: rgba(0, 0, 0, 0.05) !important;
        }

        .ti-actions {
          margin-left: 11px !important;
          font-size: 16px;

          .ti-icon-close {
            color: #000;
            transform: translateY(-2px);
          }
        }
      }
    }

    &.ti-disabled .ti-input {
      border: transparent;

      input::placeholder {
        color: transparent;
      }

      .ti-icon-close {
        opacity: 0;
        pointer-events: none;
      }
    }

    .ti-autocomplete {
      @extend .select-options;
      border: none;

      .ti-item {
        @extend .select-option;

        &.ti-selected-item {
          @extend .select-option__selected;
        }
      }
    }
  }
}

