
.ti-input {
  @extend .default-input;
}

.tags-input-wrap {
  position: relative;
  margin-bottom: 21px;

  .tags-input__label {
    @extend .typo-input-label;

    position: relative;
    margin-bottom: 9px;

    .hint {
      position: absolute;
      bottom: -2px;
    }
  }

  .vue-tags-input {
    width: 100%;
    max-width: 100%;
    min-height: 48px;


    .ti-input {
      padding: 10px 16px;

      .ti-new-tag-input-wrapper {
        padding-left: 0;
      }


      .ti-tag {
        @extend .typo-input-label;

        color: #000;
        background: #F1F4FF;
        padding: 7px 7px 3px !important;
        margin: 0 8px 0 0;

        input {
          @extend .typo-input-label;
        }

        &.ti-deletion-mark {
          background-color: rgba(0, 0, 0, 0.05) !important;
        }

        .ti-actions {
          margin-left: 11px !important;
          font-size: 16px;

          .ti-icon-close {
            color: #000;
            transform: translateY(-2px);
          }
        }
      }
    }

    &.ti-disabled .ti-input {
      border: transparent;

      input::placeholder {
        color: transparent;
      }

      .ti-icon-close {
        opacity: 0;
        pointer-events: none;
      }
    }

    .ti-autocomplete {
      @extend .select-options;

      .ti-item {
        @extend .select-option;

        &.ti-selected-item {
          @extend .select-option__selected;
        }
      }
    }
  }
}

