@import "../../main";

.vuetable {
  @extend .typo-body-md;

  table-layout: fixed;
  text-align: left;
  width: 100%;
  margin-bottom: 28px;

  thead {
    color: rgba(0, 0, 0, 0.4);

    th {
      font-weight: normal;
    }
  }

  tr {
    min-height: 52px;
    height: 52px;
    border-bottom: 1px solid $divider-color;

    td {
      padding-right: 20px;
      letter-spacing: 0.4px;

      > div {


        &:not(.dropdown-select) {
          overflow: hidden;
        }
      }
    }
  }


  .nameLink {
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }
  }

  /*ACTION COLUMN*/
  // vuetable class is to override default style priority
  &.vuetable .vuetable-td-actions {
    text-align: right;
    padding: 0;

    // icon
    .vuetable-action {
      @extend .icon-action;

      vertical-align: middle; //aligns not icon but container
      display: inline-block;
      margin-right: 18px;
      color: $icon-color;
      transition: $transition;
      cursor: pointer;
    }
  }
}

.vuetable-empty-result {
  display: none;
}