@import "./main";

.auth {
  width: 100vw;
  min-height: 100vh;
  padding: 30vh 0 10vh;
  color: #fff;
  background: $login-background;
}

.canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  position: absolute;
  top: 70px;
  left: 72px;
}

.auth__form {
  position: relative;
  width: 456px;
  padding: 20px;
  margin: auto;
  z-index: 2;
}

.auth__title {
  margin: 0;
  font-family: 'AvantGardeBold', sans-serif;
}

.auth__subtitle {
  margin: 10px 0 27px;
}

.form__input {
  margin-bottom: 4px;
}

.form__button {
  width: 124px;
  margin-top: 12px;
  margin-right: 0;
}

/*Extra Small Devices, Phones*/
@media only screen and (max-width: 480px) {
  .auth {
    padding-top: 20vh;
  }

  .logo {
    top: 30px;
    left: 50%;
    font-size: 36px;
    transform: translateX(-50%);
  }

  .auth__form {
    width: 100%;
  }
}