// BRAND COLORS:
// sidebar panel
$login-background: #171A2A;

// links, icons, buttons
$accent-color: #FFC107;

// header
$header-color: #EAEAEA;

$true-color: #4CAF50;
$false-color: #FF4444;

$border-radius: 4px;
$transition: 0.2s;

* {
  font-family: 'AvantGardeBook', sans-serif;
}

//disables scrollbar on 100vh auth on small laptops
body {
  display: flex;
}

//reset ul styles
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// helper class
.no-padding {
  padding: 0;
}

.box-shadow {
  box-shadow: 0 0.5px 6px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.12);
}

// helper underline class
.border-underline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
  }
}


//FIXME: not sure, if global class logo is needed
.logo {
  color: #fff;
  font: 25.5px 'AvantGardeBold';
  line-height: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.typo-heading-lg {
  font: 24px 'AvantGardeDemi';
  line-height: 26px;
}

.typo-heading-md {
  font: 20px 'AvantGardeDemi';
  line-height: 22px;
}

.typo-heading-sm {
  font: 12px 'AvantGardeBook';
  line-height: 14px;
}

.typo-body-lg {
  font: 18px 'AvantGardeBook';
  line-height: 20px;
}

.typo-body-md {
  font: 12px 'AvantGardeBook';
  line-height: 16px;
}

.typo-body-sm {
  font: 11px 'AvantGardeBook';
  line-height: 13px;
}

.typo-btn {
  font: 14px 'AvantGardeDemi';
  line-height: 16px;
}

.typo-input-label {
  font: 14px 'AvantGardeBook';
  line-height: 16px;
}

.typo-input-text {
  font: 14px 'AvantGardeBook';
  line-height: 24px;
}

.typo-notification-text {
  font: 16px 'AvantGardeBook';
  line-height: 18px;
}

.tooltip {
  @extend .typo-body-sm;

  position: absolute;
  width: 200px;
  min-height: 40px;
  padding: 10px 8px;
  color: #fff;
  background: $login-background;
  border-radius: $border-radius;
  transition: $transition;
  z-index: 10;
  opacity: 0;
  pointer-events: none;

  &:before {
    content:'';
    display:block;
    position:absolute;
    width:0;
    height:0;

    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-right: 8px solid $login-background;
  }
}

.tooltip-activator:hover + .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.tooltip-left {
  @extend .tooltip;

  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  &:before {
    top: 50%;
    left: -8px;
    transform: translate(0, -50%);
  }
}

.tooltip-top {
  @extend .tooltip;

  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  &:before {
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0) rotate(-90deg);
  }
}

.tooltip-bottom {
  @extend .tooltip;

  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  &:before {
    top: -8px;
    left: 50%;
    transform: translate(-50%, 0) rotate(90deg);
  }
}

.tooltip-right {
  @extend .tooltip;

  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
  &:before {
    top: 50%;
    right: -8px;
    transform: translate(0, -50%) rotate(180deg);
  }
}