@import "./styleguide/typography";

// PRIMARY COLORS:
$sidebar-color: #171A2A;   // sidebar panel
$header-color: #EAEAEA;       // header
$content-bg-color: #FFF;    // content

// ACCENT COLORS:
$nav-icon-color: rgba(255, 255, 255, 0.4);    //nav icon color
$icon-color: rgba(0, 0, 0, 0.3);    //icon color
$accent-color: #FFC107;       // links, icons, buttons

// SEMANTIC COLORS:
$true-color: #4CAF50;
$false-color: #FF4444;
$info-color: $accent-color;

// NEUTRAL COLORS:
$input: rgba(0, 0, 0, 0.2);
$input-disabled: rgba(0, 0, 0, 0.05);
$divider-color: rgba(0, 0, 0, 0.1);
$tag-background: rgba(255, 230, 156, 0.5);

// OTHER
$input-padding: 11px 16px 7px;
$border-radius: 4px;
$transition: 0.2s;

* {
  font-family: 'AvantGardeBook', sans-serif;
}

//disables scrollbar on 100vh auth on small laptops
body {
  display: flex;
}

//reset ul styles
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

i {
  color: $icon-color;
  transition: $transition;
}

// helper class
.no-padding {
  padding: 0;
}

.tt-capitalize {
  text-transform: capitalize;
}

.box-shadow {
  //box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
  box-shadow: rgba(0, 0, 0, 0.08) 0 8px 18px;
}

.icon-action {
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

// helper underline class
.border-underline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    height: 1px;
  }
}

.label {
  @extend .typo-input-label;

  position: relative;
  display: block;
  margin-bottom: 10px;
  transition: $transition;

  .hint {
    position: absolute;
    bottom: -2px;
  }
}

.default-input {
  @extend .typo-input-text;

  display: block;
  width: 100%;
  /*different top and bottom padding to vertically align text*/
  padding: $input-padding;
  border: 1px solid $input;
  border-radius: $border-radius;
  outline: none;
  transition: $transition;

  &::placeholder {
    color: $input;
  }

  &:hover:not(:disabled) {
    border-color: #000;

    &::placeholder {
      color: #000;
    }
  ;
  }

  &:focus {
    border-color: #000;
  }

  &:disabled {
    background: $input-disabled;
    border-color: $input;
  }
}

.scrollbar {
  // scrollbar itself
  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  // scrollable element
  &::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.value-pair-wrap {
  position: relative;
}

.value-pair {
  @extend .object-input-grid;

  align-items: center;
  grid-template-columns: 1fr 1fr 24px;

  .icon-icon_delete {
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}