//$login-background: #212227;
$login-background: #171A2A;
$accent-color: #FFC107;
$true-color: #4CAF50 ;
$false-color: #FF4444;

$transition: 0.2s;

* {
  font-family: 'AvantGardeBook', sans-serif;
}

//disables scrollbar on 100vh auth on small laptops
body {
  display: flex;
}

//reset ul styles
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// helper class
.no-padding {
  padding: 0;
}

// helper underline class
.border-underline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
  }
}


//FIXME: not sure, if global class logo is needed
.logo {
  color: #fff;
  font: 25.5px 'AvantGardeBold';
  line-height: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.typo-heading-1 {
  font: 24px 'AvantGardeDemi';
  line-height: 24px;
}

.typo-heading-2 {
  font: 20px 'AvantGardeDemi';
  line-height: 24px;
}

.typo-heading-3 {
  font: 20px 'AvantGardeBold';
  line-height: 24px;
}

.typo-subheading-1 {
  font: 18px 'AvantGardeBook';
  line-height: 16px;
}

.typo-subheading-2 {
  font: 12px 'AvantGardeBook';
  line-height: 16px;
}

.typo-subheading-3 {
  font: 14px 'AvantGardeBook';
  line-height: 20px;
}

.typo-subheading-4 {
  font: 11px 'AvantGardeBook';
  line-height: 14px;
}

.typo-body {
  font: 12px 'AvantGardeBook';
  line-height: 20px;
}

.typo-btn {
  font: 14px 'AvantGardeDemi';
  line-height: 16px;
}

.typo-input-label {
  font: 14px 'AvantGardeBook';
  line-height: 16px;
}

.typo-input-text {
  font: 14px 'AvantGardeBook';
  line-height: 24px;
}

.typo-text-link {
  @extend .border-underline;
  font: 20px 'AvantGardeBold';
  line-height: 24px;
}





// TODO: delete fs*lh* classes
.fs14 {
  font-size: 14px;
}

.fs14-lh16 {
  font-size: 14px;
  line-height: 16px;
}

.fs12-lh16 {
  font-size: 12px;
  line-height: 16px;
}


.fs14-lh24 {
  font-size: 24px;
  line-height: 24px;
}