.content-header {
  display: flex;
  justify-content: flex-start;

  .wt-icon {
    margin-right: var(--spacing-xs);
  }
}

.object-input-grid {
  .wt-switcher {
    &:first-child {
      grid-column-start: 1;
      grid-column-end: 3;
      //grid-row-start: 1;
      //grid-row-end: 3;
    }
  }
}
