.content-header {
  display: flex;
  justify-content: flex-start;

  .wt-icon {
    margin-right: var(--spacing-xs);
  }
}

.wt-input,
.wt-select {
  max-width: 921px;
}

.wt-switcher {
  margin-bottom: var(--spacing-sm);
}

.success-settings {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  .title {
    @extend %typo-heading-3;
  }
}


