.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover .icon {
    fill: $icon-color__hover;
    stroke: $icon-color__hover;
  }

  &.active .icon,
  &.opened .icon {
    fill: $icon-color__active;
    stroke: $icon-color__active;
  }
}
