@import "../main";

// outer wrap of module- page
.module-wrap {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

// main content itself, without nav but with main header
.module {
  flex-grow: 1;
}
// inner content section
.module-content {
  padding: 0 28px 0 44px;
}

.module-content__header {
  position: relative;
  display: inline-block;
  padding-right: 32px;
}

.module-content__title {
  @extend .typo-heading-md;

  display: inline-block;
  margin: 34px 0 0;
}

.module__info-helper {
  position: relative;
  display: inline-block;

  .module__info-helper__img {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.3);
    transition: $transition;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}


.module-new {
  .input {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}