@import "../main";

// outer wrap of module- page
.module-wrap {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

// main content itself, without nav but with main header
.module {
  flex-grow: 1;
  overflow-y: scroll;
}

// inner content section
.module-content {
  padding: 0 28px 0 44px;
}

.module-content__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  padding-right: 32px;

  .module-content__title {
    @extend .typo-heading-md;

    display: inline-block;
    margin: 34px 0 0;
  }

  .module-content__table-actions {
    display: flex;

    .search-form {
      display: flex;
      align-items: center;
      width: 286px;
      height: 48px;

      .search-input {
        @extend .typo-input-text;

        flex: 1;
        padding: 13px 16px;
        color: $divider-color;
        border: none;
        outline: none;
      }

      .icon-icon_search {
        height: 24px;
      }
    }

    .table-action__actions {
      display: flex;
      align-items: center;

      .active {
        color: #000;
      }
      .filter {
        display: flex;
      }

      .filter__list {
        @extend .typo-body-md;
        @extend .box-shadow;

        position: absolute;
        top: 74px;
        right: 26px;
        min-width: 196px;
        padding: 13px 16px;
        color: #000;
        background: #fff;

        .filter__list-item {
          padding: 3px;
          margin-bottom: 13px;
        }
      }

      i {
        margin-left: 30px;
        cursor: pointer;

        &.icon-icon_filter:hover {
          color: #000;
        }
      }
    }
  }
}

.module__info-hint {
  position: relative;
  display: inline-block;

  .module__info-hint__img {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.3);
    transition: $transition;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}


.module-new {
  .input {
    border: 1px solid $input;
  }
}

// FIXME: WRAP IT DIV AND STYLE IN DEVICES-NEW COMPONENT OR USE AS GLOBAL STYLE
.devices-new {
  .expansion-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 7px;

    .form__input {
      margin: 0;
    }
  }
}


.tags-input-wrap {
  position: relative;
  padding-top: 33px;

  .tags-input__label {
    @extend .typo-input-label;

    position: absolute;
    top: 0;
  }

  .vue-tags-input {
    width: 100%;
    max-width: 100%;
    min-height: 48px;

    .ti-input {
      @extend .typo-input-label;

      padding: 10px 16px !important;
      border-radius: $border-radius;

      .ti-new-tag-input-wrapper {
        padding-left: 0;
        margin-left: 8px;
      }

      .ti-tag {
        color: #000;
        background: rgba(0, 0, 0, 0.05);
        padding: 7px 7px 3px !important;
        margin-left: 8px;

        &.ti-deletion-mark {
          background-color: rgba(0, 0, 0, 0.05) !important;
        }

        .ti-actions {
          margin-left: 11px !important;

          .ti-icon-close {
            color: #000;

            &:before {
              content: "\e906";
            }
          }
        }
      }
    }

    .ti-autocomplete {
      @extend .box-shadow;

      padding: 8px 0;
      margin: 12px 0;

      .ti-item {
        @extend .typo-body-sm;

        div {
          padding: 16px 12px;
        }

        &.ti-selected-item {
          color: #000;
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}

