
.vuetable {
  table-layout: fixed;
  text-align: left;
  width: 100%;
  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;

  thead {
    color: rgba(0, 0, 0, 0.4);

    th {
      font-weight: normal;
    }
  }

  tr {
    min-height: 52px;
    height: 52px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    td {
      padding-right: 20px;
      letter-spacing: 0.4px;
    }


  }

  /*ACTION COLUMN*/
  // vuetable class is to override default style priority
  &.vuetable .vuetable-td-actions {
    text-align: right;
    width: 120px;
    padding-right: 0;

    // div icons wrap
    .vuetable-actions {
      width: 100%;
    }

    // icon
    .vuetable-action {
      vertical-align: middle;
      display: inline-block;
      margin-right: 25px;
      border: 1px dashed rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    .vuetable-action:first-child {
      margin-right: 30px;
    }
  }

  &.vuetable-actions-1 .vuetable-td-actions {
    width: 60px;

    // div icons wrap
    .vuetable-actions {
      width: fit-content;
      width: -moz-fit-content;
      display: inline-block;
    }
  }


  // -------------------- BELOW GOES CUSTOM COLUMN WIDTH PARAMS ON PAGE -----------------------

  &.permissions-table {
    th {
      width: calc((100% - 120px) / 2);
    }
  }
}

