
.typo-heading-lg {
  font: 22px 'AvantGardeDemi';
  line-height: 26px;
}

.typo-heading-md {
  font: 20px 'AvantGardeDemi';
  line-height: 22px;
}

//.typo-heading-sm {
//  font: 12px 'AvantGardeBook';
//  line-height: 14px;
//}

.typo-body-lg {
  font: 18px 'AvantGardeBook';
  line-height: 20px;
}

.typo-body-md {
  font: 12px 'AvantGardeBook';
  line-height: 14px;
}

.typo-body-sm {
  font: 11px 'AvantGardeBook';
  line-height: 13px;
}

.typo-btn {
  font: 14px 'AvantGardeDemi';
  line-height: 16px;
}

.typo-input-label {
  font: 12px 'AvantGardeBook';
  line-height: 16px;
}

.typo-input-text {
  font: 14px 'AvantGardeBook';
  line-height: 20px;
}

.typo-notification-text {
  font: 16px 'AvantGardeBook';
  line-height: 18px;
}